<%= link_to('<< Back to List', {action: 'index'}, class: 'back-link') %>
<div class="sections edit">
<h1>Edit Section</h1>
<% url_params = {action: 'update', id: @section.id} %>
<%= form_for(:section, url: url_params) do |f| %>
  <%= render(partial: 'form', locals: {f: f}) %>
  <div class="Form-buttons">
    <%= submit_tag("Update Section") %>
  </div>
<% end %>
</div>
