<%= link_to('<< Back to List',
            {action: 'index', subject_id: @subject.id},
            class: 'back-link') %>
<div class="pages edit">
<h1>Edit Page</h1>
<% url = {action: 'update', id: @page.id, subject_id: @subject.id} %>
<%= form_for(:page, url: url) do |f| %>
  <%= render(partial: 'form', locals: {f: f}) %>
  <div class="Form-buttons">
    <%= submit_tag("Update Page") %>
  </div>
<% end %>
</div>
