<%= link_to('<< Back to List', {action: 'index'}, class: 'back-link') %>
<div class="subjects edit">
<h1>Edit Subject</h1>
<% url_params = {action: 'update', id: @subject.id} %>
<%= form_for(:subject, url: url_params) do |f| %>
  <%= render(partial: 'form', locals: {f: f}) %>
  <div class="Form-buttons">
    <%= submit_tag("Update Subject") %>
  </div>
<% end %>
</div>
