<% @page_title = "Edit Admin User:  #{@admin_user.name}" %>
<%= link_to('<< Back to List', {action: 'index'}, class: 'back-link') %>
<div class="users edit">
<h1>Edit Admin User</h1>
<% url = {action: 'update', id: @admin_user.id} %>
<%= form_for(:admin_user, url: url) do |f| %>
  <%= render(partial: 'form', locals: {f: f}) %>
  <div class="Form-buttons">
    <%= submit_tag('Update Admin User') %>
  </div>

<% end %>
</div>
